body {
    margin: 0;
}

#penn_state_players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.profile_image {
    height: 100%;
    width: 30%;
}

.nen_img {
    width: 25px;
}

.elem_img {
    width: 50px;
}

.profile_border {
    border: 0.5px solid black;
    width: 40%;
    margin: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.profile {
    width: 100%;
}

.profile_header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    position: relative;
    background-color: rgba(4, 30, 66, .2);
    ;
}

.profile_stats {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.profile_stats>p {
    width: 33%;
}

#penn_state_header {
    background-color: rgb(4 30 66);
}
