body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #6f6e6e;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

.header_logo {
    max-width: 80px;
}

.team_stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-size: 18px;
    height: 90%;
    margin-bottom: 3%;
}

.profile_image {
    height: 100%;
    width: 38%;
}


.nen_display {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: center;
}

.elem_img {
    width: 20px;
}

.nen_img {
    width: 25px;
}

.profile_border {
    border: 0.5px solid black;
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}



.profile {
    width: 100%;
    height: 100%;
    background-color: rgb(221, 221, 221);
}

.profile_header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    /* position: relative; */
    background-color: rgba(4, 30, 66, .2);
}

.profile_header>a {
    text-decoration: none;
    color: #000000;
}

.profile_stats {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    width: 100%;
    align-items: flex-start;
    line-height: 10px;
    /* background-color: whitesmoke; */
}

.profile_stats>p {
    width: 21%;
}

#buff {
    width: 90%;

}

@media (max-width: 1150px) {
    .profile_border {
        width: 70%;
        max-height: 250px;
    }

    #harley {
        visibility: hidden;
    }

    /* .profile_stats>p {
        font-size: 20px;
    } */
}

@media (max-width: 650px) {
    .profile_image {
        display: none;

    }

    .profile_header {
        width: 100%;
    }
}

/* team navigation menu */




.team_nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    width: 98%;
}

.team_nav>a>img {
    width: 35px;
}

#harley {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#penn_state_text {
    color: white;
}

/* penn state style */

#penn_state_header {
    background-color: rgb(4 30 66);
}



#penn_state_team_stat {
    background-color: rgba(183, 170, 170, .5);
}

/* oklahoma state style  */

#ok_state_header {
    background-color: #fe5c00;
}

#osu_stats {
    background-color: #000000;
}

/* iowa state styel */

#iowa_state_header {
    background-color: #a71930;
}

#iowa_state {
    background-color: #FFC629;
}

/* cornell style */

#cornell_state_team_stat {
    background-color: #b31b1b;
}

#cornell_state_header {
    background-color: #b31b1b;
    border-bottom: 1px solid black;
}

/* stanford style */
#stanford_header {
    background-color: white;

}

#stanford_text {
    color: #8C1515;
}

#stanford_team_stat {
    background-color: #8C1515;
}

/* Ohio state style */
#ohio_state_header {
    background-color: rgb(17 17 17)
}

#lehigh_header {
    background-color: #653600;
}

#lehigh_text {
    color: whitesmoke;
}

#ohio_state_team_stat {
    background-color: #ce0f3d
}

/* michigan style */
#michigan_state_header {
    background-color: #00274C;
}

#michigan_team_stat {
    background-color: #FFCB05;
}

/* nebraska style */
#nebraska_header {
    background-color: #D00000;
}

#nebraska_team_stat {
    background-color: #FEFDFA;
    color: #D00000;
    border-bottom: 1px solid black;
}

/* vt style  */
#vt_header {
    background-color: #630031;
}

#vt_team_stat {
    background-color: #cf4420;
}

/* iowa style */
#iowa_header {

    background-color: #000000;
}

#minn_header {
    background-color: #7a0019;
}

#minn_stats {
    background-color: #ffb71e;
}

#minn_state_text {
    color: #f9f7f6;
}

#iowa_team_stat {
    background-color: #FFCD00;
}

#lehigh_stats {
    background-color: #cfab7a;
}


/* COPY THIS !!!!!!!! */
#penn_state_players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    margin-bottom: 4%;
    top: 0;
}

#ok_state_players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    margin-bottom: 4%;
}

#iowa_state_players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    margin-bottom: 4%;
}

#cornell_players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    margin-bottom: 4%;
}

#stanford_players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    margin-bottom: 4%;
}

#ohio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    margin-bottom: 4%;
}

#michigan_players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    margin-bottom: 4%;
}

#nebraska_players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    margin-bottom: 4%;
}

#vt_players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    margin-bottom: 4%;
}

#iowa_players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    margin-bottom: 4%;
}

#lehigh_players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    margin-bottom: 4%;
}

#minn_players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: normal;
    margin-bottom: 4%;
}
